.category-list {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 12px;
  overflow-x: auto;
 margin-bottom: -30px;
  scrollbar-width: none;
  box-sizing: border-box;
  text-align: center;
   
}

.category-list::-webkit-scrollbar {
  display: none;
}

.category-info {
  /* padding:10px 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.25s ease, background-color 0.25s ease;
  cursor: pointer;
  border-radius: 14px;
}
 
.category-info:hover {
  transform: translateY(-6px);
}
 
.img-wrap {
  background-color: #FAFAFA;
   height: 84px;
   width: 83px;
  border-radius: 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.active{background-color: #FFA200;}
 
.img-wrap img {
  width: 63px;
  height: 63px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

 
 
.category-info p {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #222;
}
