  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 scroll-behavior: smooth;
 font-family:outfit;
 margin-top: 8px;
 }
 .app{
  width: 75%;
  margin: auto;
}
 body{
  min-height: 100vh;
  background-color: #FFFFFF;

}
a{
  text-decoration: none;
  color: inherit;
}