 .cart-info-coupon{
    display: flex;
 }

.cart-info-coupon input{
    height: 40px;
    width: 85%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin: 10px;
}
hr{
    margin-left: 10px;
}
 .cart-info-coupon button{
    padding: 4px;
    border-radius: 10px;
    background-color: #FFB200;
    color: white;
    font-size: 16px;
    width: 130px;
    height: 40px;
    margin: 10px;
 }
 .discounttag{
    font-size: small;
    padding: 5px;
    margin: 10px;
 }
 .cart-info-coupon button:hover{
   background-color: white;
    color:  #FFB200; 
 }
.dileverylocation p{
font-size: small;
margin:-5px;
 }
 .dileverylocation img{
    width: 20px;
    height: 20px;
 }
 .dileverylocation{
     
border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 97%;
     
    
 }
 .best{
    margin-top: 140px;
    margin-left: 20px;
 }
 .locationinput{
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #FFF0CC;
    color: #FFB200;
 }
 .charges{
    font-size: small;
    color: gray;
    margin: 10px;
 }
 .cookinginst p{    
    font-size: small;
    
    margin: 10px;

 }
 .cookinginst textarea{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin: 10px;
 }

  
  