.food-display-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);  
    gap: 10px;                              
    margin-top: 30px;
    animation: fadein 2.5s;
}

.food-display-list img {
             
    max-width: 93px;      
    aspect-ratio: 1 / 1;   
    border-radius: 7px;
    object-fit: cover;     
}

 
@media (max-width: 1200px) {
    .food-display-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 768px) {
    .food-display-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 480px) {
    .food-display-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
